@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('../webfonts/Ubuntu-Bold.eot');
  src: url('../webfonts/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/Ubuntu-Bold.woff2') format('woff2'),
  url('../webfonts/Ubuntu-Bold.woff') format('woff'),
  url('../webfonts/Ubuntu-Bold.ttf') format('truetype'),
  url('../webfonts/Ubuntu-Bold.svg#Ubuntu-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url('../webfonts/Ubuntu-Medium.eot');
  src: url('../webfonts/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/Ubuntu-Medium.woff2') format('woff2'),
  url('../webfonts/Ubuntu-Medium.woff') format('woff'),
  url('../webfonts/Ubuntu-Medium.ttf') format('truetype'),
  url('../webfonts/Ubuntu-Medium.svg#Ubuntu-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu-Regular';
  src: url('../webfonts/Ubuntu-Regular.eot');
  src: url('../webfonts/Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/Ubuntu-Regular.woff2') format('woff2'),
  url('../webfonts/Ubuntu-Regular.woff') format('woff'),
  url('../webfonts/Ubuntu-Regular.ttf') format('truetype'),
  url('../webfonts/Ubuntu-Regular.svg#Ubuntu-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu-Light';
  src: url('../webfonts/Ubuntu-Light.eot');
  src: url('../webfonts/Ubuntu-Light.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/Ubuntu-Light.woff2') format('woff2'),
  url('../webfonts/Ubuntu-Light.woff') format('woff'),
  url('../webfonts/Ubuntu-Light.ttf') format('truetype'),
  url('../webfonts/Ubuntu-Light.svg#Ubuntu-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/*Light*/
@font-face {
  font-family: 'Ubuntu-BoldItalic';
  src: url('../webfonts/Ubuntu-BoldItalic.eot');
  src: url('../webfonts/Ubuntu-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/Ubuntu-BoldItalic.woff2') format('woff2'),
  url('../webfonts/Ubuntu-BoldItalic.woff') format('woff'),
  url('../webfonts/Ubuntu-BoldItalic.ttf') format('truetype'),
  url('../webfonts/Ubuntu-BoldItalic.svg#Ubuntu-BoldItalic') format('svg');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu-MediumItalic';
  src: url('../webfonts/Ubuntu-MediumItalic.eot');
  src: url('../webfonts/Ubuntu-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/Ubuntu-MediumItalic.woff2') format('woff2'),
  url('../webfonts/Ubuntu-MediumItalic.woff') format('woff'),
  url('../webfonts/Ubuntu-MediumItalic.ttf') format('truetype'),
  url('../webfonts/Ubuntu-MediumItalic.svg#Ubuntu-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu-Italic';
  src: url('../webfonts/Ubuntu-Italic.eot');
  src: url('../webfonts/Ubuntu-Italic.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/Ubuntu-Italic.woff2') format('woff2'),
  url('../webfonts/Ubuntu-Italic.woff') format('woff'),
  url('../webfonts/Ubuntu-Italic.ttf') format('truetype'),
  url('../webfonts/Ubuntu-Italic.svg#Ubuntu-Italic') format('svg');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu-LightItalic';
  src: url('../webfonts/Ubuntu-LightItalic.eot');
  src: url('../webfonts/Ubuntu-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../webfonts/Ubuntu-LightItalic.woff2') format('woff2'),
  url('../webfonts/Ubuntu-LightItalic.woff') format('woff'),
  url('../webfonts/Ubuntu-LightItalic.ttf') format('truetype'),
  url('../webfonts/Ubuntu-LightItalic.svg#Ubuntu-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

