$font-bold: Ubuntu-Bold;
$font-medium: Ubuntu-Medium;
$font-regular: Ubuntu-Regular;
$font-light: Ubuntu-Light;

$font-bold-italic: Ubuntu-BoldItalic;
$font-medium-italic: Ubuntu-MediumItalic;
$font-italic: Ubuntu-Italic;
$font-light-italic: Ubuntu-LightItalic;

$dark-color: #222222;
$dark-gray-color: #656565;
$gray-color: #DFDFDF;
$blue-color: #5ABCD9;
$orange-color: #F0813E;
