.about {
  padding: 100px 0;

  .about_borders {
    width: 100%;
  }

  .about_text {
    margin: 40px auto;
    width: 1100px;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 45px;
    letter-spacing: 2px;

    & img {
      height: 40px;
      margin-bottom: -8px;
    }

    & span {
      font-size: 30px;
      color: $blue-color;
    }
  }
}

.about_tags {
  padding: 70px 0;
  background-color: $dark-color;
  border-radius: 15px;

  & .about_tags_title {
    color: white;
    font-size: 30px;
  }

  & .about_tags_text {
    color: white;
    font-size: 20px;
    margin-top: 23px;
  }

  .tags {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;

    & .tag {
      margin-right: 2px;
      margin-bottom: 2px;
      padding: 10px;
      background-color: $orange-color;
      border-radius: 30px;
      color: white;
      font-size: 20px;
      cursor: default;
      transition: background-color .2s;

      &:hover {
        background-color: rgba(240, 129, 62, 0.82);
      }
    }
  }
}
