.header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.93);
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 30px 30px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  transition: padding .2s;

  &.small {
    padding: 10px 30px;
  }

  & .logo {
    cursor: pointer;
    width: 150px;
  }

  & nav ul {
    display: flex;
    list-style: none;
    align-items: center;

    li {
      margin-left: 30px;
      padding: 10px;
      cursor: pointer;
      font-size: 18px;
      display: inline-block;
      transition: color .2s, opacity .2s;

      &:hover {
        color: $blue-color;
      }

      &:active {
        opacity: 0.7;
      }

      &.big {
        background-color: $dark-color;
        margin-left: 39px;
        border-radius: 15px;
        color: white;
        padding: 20px 50px;
        transition: background-color .2s, opacity .2s;

        &:hover {
          background-color: $dark-gray-color;
        }

        &:active {
          opacity: 0.7;
        }
      }
    }
  }
}
