.we_offer {
  padding: 100px 0;

  .accordion {
    margin-top: 50px;

    .accordion_item {
      max-height: 115px;
      overflow: hidden;
      border: 2px solid $dark-color;
      border-radius: 15px;
      margin-top: -2px;
      transition: max-height .2s;

      .accordion_item_header {
        height: 115px;
        padding: 40px 50px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .accordion_item_title {
        font-size: 28px;
      }

      .accordion_item_arrow {
        width: 30px;
        transform: rotateZ(90deg);
        transition: transform .2s;
      }

      &.open {
        max-height: 344px;

        .accordion_item_arrow {
          transform: rotateZ(-90deg);
          transition: transform .2s;
        }
      }


      .accordion_item_inner {
        padding: 50px;
        display: flex;
        justify-content: space-between;
      }

      .accordion_item_inner_text {
        font-size: 16px;
        width: 360px;
        font-family: $font-regular;
      }

      .accordion_item_image {
        width: 448px;
        height: 204px;
        border-radius: 15px;
        margin-top: -50px;
        overflow: hidden;

        & img {
          width: 101%;
          height: 100%;
          object-fit: cover;
          margin: 0;
        }
      }
    }
  }
}
